In [2]:
import pandas as pd
import json
import os

In [3]:
data = pd.read_json('bot.json')

In [4]:
new = [{"question": "testing?", "answer": "yes, testing!"}]

with open('bot.json', 'rb+') as file:
    file.seek(-1, os.SEEK_END)
    file.truncate()


with open('bot.json', 'a') as file:
    for item in new:
        file.write(',')
        json.dump(item, file, indent=4)
        file.write('\n')

with open('bot.json', 'a') as file:
    file.write(']')

In [5]:
data

                                          question               answer
0                                         testing?        yes, testing!
1                   what is the capital of france?                Paris
2                    who wrote "romeo and juliet"?  William Shakespeare
3           what is the chemical symbol for water?                  H2O
4                       who painted the mona lisa?    Leonardo da Vinci
5       what is the tallest mountain in the world?        Mount Everest
6                  what year did the titanic sink?                 1912
7                       who discovered penicillin?    Alexander Fleming
8                   what is the currency of japan?                  Yen
9   hat is the largest planet in our solar system?              Jupiter
10   who was the first person to walk on the moon?       Neil armstrong
11                                        testing?        yes, testing!
12                                        testing?        yes, testing!

In [6]:
data['question']

0                                           testing?
1                     what is the capital of france?
2                      who wrote "romeo and juliet"?
3             what is the chemical symbol for water?
4                         who painted the mona lisa?
5         what is the tallest mountain in the world?
6                    what year did the titanic sink?
7                         who discovered penicillin?
8                     what is the currency of japan?
9     hat is the largest planet in our solar system?
10     who was the first person to walk on the moon?
11                                          testing?
12                                          testing?
Name: question, dtype: object